
<center><img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Hogwarts_model_studio_tour.jpg/250px-Hogwarts_model_studio_tour.jpg" style="width:300px;height:200px;"></center>
<p><h3>
Hogwarts is a coeducational, secondary boarding school, taking children from ages eleven to seventeen. Education at Hogwarts is not compulsory, with some students being home schooled as stated in the seventh book. Rowling initially said there are about one thousand students at Hogwarts. She later suggested around six hundred, while acknowledging that this number was still inconsistent with the small number of people in Harry's year. She further explained that this had resulted from her creating only 40 characters for Harry's year.</h3></p>
<br>
<h3>
<strong>
<center>
<%= link_to "back" ,depts_path %>
</center>
</strong>
</h3>

